# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Firebase
serviceAccountKey.json

# Logs
*.log

# Local development
instance/
.webassets-cache

# Uploads
static/uploads/

# Additional environment variables
.env
.venv
env.bak/
venv.bak/
.webassets-cache
*.pyc
giir-66ae6-firebase-adminsdk-lcshj-f9e8dad228.json
*.pem
*.key 