Flask==3.0.0
Werkzeug==3.0.1
click==8.1.7
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
Flask-Mail==0.9.1
blinker==1.7.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Pillow==11.1.0
python-dotenv==1.0.0
pytz==2024.1
gunicorn>=22.0.0
whitenoise==6.6.0
requests==2.32.3
protobuf>=3.20.2,<6.0.0dev
google-auth==2.37.0
google-api-core==2.24.0
google-api-python-client==2.158.0
google-cloud-firestore==2.19.0
google-cloud-storage==2.19.0
firebase-admin==6.6.0
google-generativeai==0.3.2
grpcio==1.69.0
cachecontrol==0.14.2 